<!DOCTYPE html>
<html lang="en">
<head>
  <title>Family Chat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
<style>
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  
  .sidebar-offcanvas {
    position: absolute;
    width: 60%; /* 6 columns */
    display: none;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    display: block;  
    right: 50px;
    top: 50px;
    z-index: 1;
  }

  .row-offcanvas-right.active {
    
  }
    .icon-bar{
        height: 3px;
        color:white;
    }
    .btn-primary{
        color:white;
        font-size:70%;
    }

}
    
    </style>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">Family Chat</a>
        </div>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->    
<div class="container">    

    <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Available Chats</h4>
                </div>
                <!-- /.col-lg-12 -->
    </div>
            <!-- /.row -->
            
    <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Select Chat
                        </div>
                        <div class="panel-body">
                            <ul><li><a href="setfair.php?id=">
                                       ChatA</a>Put Window that opens password window here</li>

                                    
                                <li><a href="">
                                   CHAT B</a></li>
                                                                     
                            </ul>
                    <br><a href="index.php?action=addfair">Start a New Chat</a>    
                    </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 --> 
            
    </div>
              
    
                            <!-- /.row (nested) -->
    </div>
    <!-- container -->
    </body>
</html>